{% load carton_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Small Business - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/small-business.css' %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Start Bootstrap</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'shop:index' %}">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'shop:show' %}">Cart</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
      <h1>Shopping Cart</h1>

    {% get_cart as cart %}
        <table border="1">
        {% for item in cart.items%}
            <div class="row align-items-center my-5">
                <form method="get" action="#">
                {% csrf_token %}
                  <label><input type="checkbox" name="color" value="blue" checked></label>
                  <div class="col-lg-7">
                      {% if item.product.image %}
                          <a href="#"><img src="{{ item.product.image.url }}" class="img-fluid rounded mb-4 mb-lg-0" alt="..."></a>
                      {% endif %}
                  </div>
                  <!-- /.col-lg-8 -->
                  <div class="col-lg-5">
                    <h1 class="font-weight-light">{{ item.product.name }}</h1>
                    <p>{{ item.product.content| safe }}</p>
                    <a class="btn btn-primary" href="{% url 'shop:remove' item.product.pk %}">delete</a>
                      <br>
                    <button onclick="location.href='{% url 'shop:minus' item.product.pk %}'" type="button">-</button>
                    <p>{{ item.quantity }}</p>
                    <button onclick="location.href='{% url 'shop:plus' item.product.pk %}'" type="button">+</button>
                    <p>{{ item.subtotal }}</p>
                    <p><input type="submit" value="Submit"> <input type="reset" value="Reset"></p>
                  </div>
                  <!-- /.col-md-4 -->
                </form>
            </div>
        {% endfor %}
        </table>

    Total: {{ cart.total }}

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>

